.listadoGastosContainer {
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.gastosList {
    list-style: none;
    padding: 0;
    max-height: 300px; /* Ajusta esta altura según tus necesidades */
    overflow-y: auto;
}

.gastoItem {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid #eee;
}
